#llama-cpp-python
uvicorn
fastapi
pydantic
langchain
langgraph
langchain-community
langchain-core
python-multipart
langchain-huggingface
huggingface_hub
rank-bm25 
sentence-transformers
pypdf
pinecone-client
pinecone
langchain-pinecone
python-dotenv